# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Sertifikat self-signed development (jangan di-commit)
certs/

# Local env files
.env
.env.*
!.env.example
